
.navbar{
    font-size: 0.9rem;
    line-height: 1.5rem;
    box-shadow: 0 0.1rem 0.1rem -0.1rem rgb(219, 219, 219);
    color:#8B8B8B;
    background-color: transparent;
  }
  .container-fluid{
    margin: 0 5rem;
    justify-content:space-between;
  }
  .nav-link{
    font-weight: 500 ;
    color:#8b8b8b;
    margin: 0 0.5rem;
  }
  .nav-link:hover{
    color:#B81F25;
    transition: 0.3s ease-in-out; 
  }
   .active{
    color:#B81F25;
  }
  .navbar-brand{
  text-decoration: none;
  color:#B81F25 ;
  }
  .navbar-toggler{
    color: #B81F25;
    font-size: 1.5rem;
  }
  .nav-icons{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .nav-icons a{
    font-size: 1.1rem;
    color:#919191;
    padding:0 0.8rem;
  }
  .nav-icons a:hover{
    color:#B81F25;
  }
.header-logo{
    width:1.6rem;
}

@media(max-width:576px){
    .container-fluid{
        margin: 0 2.5rem;
        justify-content:space-between;
      }
}