
.About{
    background-image: url("../assets/srbg.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
.abtstrp{
    background-image: url("../assets/abtstrp.png");
    background-repeat: no-repeat;
    padding: 2.5rem 0;
}
.About-Headingmain{
    font-size: 2.8rem;
    color:#fff;
    font-weight: 600;
    text-align: start;
    padding: 0 2rem;
 
}
.About-Textmain{
    font-size: 0.8rem;
    color:#fff;
    font-weight: 500;
    text-align: start;
    padding: 0 2rem;
}
/* .Services1{
    background-image: url("../assets/srbg.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
.srcimg{
    background-image: url("../assets//Srvcimg.png");
    background-repeat: no-repeat;
    padding: 2.5rem 0;
   
}
.Service-Headingmain{
    font-size: 2.8rem;
    color:#fff;
    font-weight: 600;
    text-align: start;
    padding: 0 2rem;
}
.Service-Textmain{
    font-size: 0.8rem;
    color:#fff;
    font-weight: 500;
    text-align: start;
 
} */
.About-Heading1{
    font-size: 1.3rem;
    color: #272b6c;
    font-weight: 500;
    text-align: start;
    padding-top: 1rem;
}
.abt-img{
    padding: 4rem 0;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    width: 21rem; 
}
.About-Text1{
    font-size: 0.9rem;
    color:#919191;
    font-weight: 400;
    text-align: start;
    padding: 0.6rem 0;
}