.Policy{
    background-image: url("../assets/srbg.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
.prvcystrp{
    background-image: url(../assets/prjctstrp.png);
    background-repeat: no-repeat;
    padding: 2rem 0;
    width: 100%;
}
.Policy-Headingmain{
    font-size: 2.8rem;
    color:#fff;
    font-weight: 600;
    text-align:start;
    padding: 0 2rem;
     
}
.Policy-text{
    font-size: 0.8rem;
    color:#919191;
     padding: 1rem 0;
    font-weight: 500;
    text-align: start;
}
.txt-2{
    font-size: 0.8rem;
    color:#919191;
    font-weight: 500;
    padding: 0.5rem 0;
    text-align: start;
}
.textbold{
    font-size: 1rem;
    color: #353535;
    padding-top: 0.5rem;
    font-weight: 600;
    text-align: start;
}